.popup__input {
  width: 100%;
  height: 38px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.popup__input:last-of-type {
  margin-top: 14px;
}

.popup__input:invalid {
  margin-bottom: 5px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__input {
    margin-bottom: 17px;
  }
}
